<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/users/add">+New Customer</a> | 
			<a href="/users">Customers</a> |
			<a href="/rooms/add">+New Room</a> |
			<a href="/rooms">Rooms</a>
			
		</div>	
		<h1><%= title %></h1>
