<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Seven Hotel :: Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/login">Seven Hotel</a>
				<nav>
					<a href="#menu">MENU</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li>로그인 하세요</li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner" role = "button">
				<div class="inner">
					<h1>'B' hotel management system</h1>
				</div>
				<video autoplay loop muted playsinline src="images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>login</h2>
					</header>
					<div class="highlights">
						<section style="position: relative;left: 30%;transform:translateX(-50%);">
							<div class="content">
								<header>
									<a href="/login/1" class="icon fa-lock"><span class="label">Icon</span></a>
									<h3>고객 로그인</h3>
								</header>
								<p>

								</p>
							</div>
						</section>
						<section style="position: relative;left: 38%;transform:translateX(-50%);">
							<div class="content">
								<header>
									<a href="/login/2" class="icon fa-id-card-o"><span class="label">Icon</span></a>
									<h3>직원 로그인</h3>
								</header>
								<p>

								</p>
							</div>
						</section>

					</div>
				</div>
			</section>








			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
