.floor {
    box-sizing: border-box !important;
    font-size: 14px !important;
    text-align: center !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(255, 255, 255) !important;
    border-image: initial !important;
    background: rgb(255, 255, 255) !important;
}
.c_done {
    box-sizing: border-box !important;
    cursor: pointer !important;
    font-size: 14px !important;
    text-align: center !important;
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 166, 153) !important;
    border-width: 1px !important;
    border-style: double !important;
    border-color: rgb(0, 166, 153) !important;
    border-image: initial !important;
}

.c_n {
    box-sizing: border-box !important;
    cursor: pointer !important;
    font-size: 14px !important;
    text-align: center !important;
    color: rgb(255, 255, 255) !important;
    background: rgb(222, 165, 164) !important;
    border-width: 1px !important;
    border-style: double !important;
    border-color: rgb(222, 165, 164) !important;
    border-image: initial !important;
}

.bookable {
    box-sizing: border-box !important;
    cursor: pointer !important;
    font-size: 14px !important;
    text-align: center !important;
    color: rgb(72, 72, 72) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(228, 231, 231) !important;
    border-image: initial !important;
    background: rgb(228, 231, 231) !important;
}

.type_name {
    padding: 0px;
    box-sizing: border-box !important;
    font-size: 14px !important;
    text-align: center !important;
    border-width: 3px !important;
    border-style: solid !important;
    border-left-color: rgb(255,255,255) !important;
    border-right-color: rgb(228, 231, 231) !important;
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
    border-image: initial !important;
    background: rgb(255, 255, 255) !important;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.checklist input[type="checkbox"] + label {
  padding-left: 40px;
}
.checklist input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #6cc0e5;
  background: transparent;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checklist input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 10px;
  border-radius: 0;
  opacity:1;
  background: transparent;
  border-color:transparent #6cc0e5 #6cc0e5 transparent;
  border-top-color:transparent;
  border-left-color:transparent;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}
.no-csstransforms .checklist input[type="checkbox"]:checked + label:before {

  content: "\2714";
  top: 0;
  left: 0px;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
}
input[type=checkbox]
{
  -webkit-appearance:checkbox;
}
